<!-- Site Description -->
<div class="presentation container">
    <h2>Uma deliciosa coleção de <span class="violet">receitas</span> para toda família.</h2>
    <p>Entre nesse time e também seja um <span class="violet">Chef</span>.</p>
</div>

<!-- Sugestoes -->
<div class="portfolio container">
    <div class="portfolio-title">
        <h3>Sugestões</h3>
    </div>
    <div class="icon-awesome">
        <a href="#"><i class="icon-star"></i></a>
        <a href="#"><i class="icon-thumbs-up"></i></a>
        <a href="#"><i class="icon-random"></i></a>
    </div>
    <div class="row">
        <div ng-repeat="receita in receitasHome">
            <div class="work span3">
                <a href="#/receitas">
                    <img src="resources/img/portfolio/work1.jpg" alt="">
                </a>
                <h4>{{ receita.nome }}</h4>
                <p>{{ receita.resumo }}</p>
                <div class="icon-awesome">
                    <a href="resources/img/portfolio/work1.jpg" rel="prettyPhoto"><i class="icon-camera"></i></a>
                    <a ng-click="carregarReceita(receita)" href="#/receitas/visualizareceita"><i class="icon-book"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="call-to-action container">
    <div class="row">
        <div class="call-to-action-text span12">
            <div class="ca-text span12">
                <p>Cadastre mais uma  <span class="violet">delícia</span> no catálogo e veja no Menu o que está esperando para ser preparado.</p>
            </div>
            <div class="ca-button span4">
                <a href="receitas-a-z.html"><i class="icon-book"></i> Receitas de A-Z</a>
            </div>
            <div class="ca-button span4">
                <a href="#/receitas/cadastroreceita"><i class="icon-plus"></i> Incluir receita</a>
            </div>
        </div>
    </div>
</div>

<!-- Testimonials -->
<div class="testimonials container">
    <div class="testimonials-title">
        <h3>Comentários</h3>
    </div>
    <div class="row">
        <div class="testimonial-list span12">
            <div class="tabbable tabs-below">
                <div class="tab-content">
                    <div class="tab-pane active" id="A">
                        <img src="resources/img/testimonials/1.jpg" title="" alt="">
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur..."<br /><span class="violet">Lorem Ipsum, dolor.co.uk</span></p>
                    </div>
                    <div class="tab-pane" id="B">
                        <img src="resources/img/testimonials/2.jpg" title="" alt="">
                        <p>"Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat..."<br /><span class="violet">Minim Veniam, nostrud.com</span></p>
                    </div>
                    <div class="tab-pane" id="C">
                        <img src="resources/img/testimonials/3.jpg" title="" alt="">
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur..."<br /><span class="violet">Lorem Ipsum, dolor.co.uk</span></p>
                    </div>
                    <div class="tab-pane" id="D">
                        <img src="resources/img/testimonials/1.jpg" title="" alt="">
                        <p>"Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat..."<br /><span class="violet">Minim Veniam, nostrud.com</span></p>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#A" data-toggle="tab"></a></li>
                    <li class=""><a href="#B" data-toggle="tab"></a></li>
                    <li class=""><a href="#C" data-toggle="tab"></a></li>
                    <li class=""><a href="#D" data-toggle="tab"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>