<div data-ng-init="obterReceitaEmEdicao()" class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12">
                <i class="icon-plus page-title-icon"></i>
                <h2>Receita /</h2>
                <p>Cadastro</p>
            </div>
        </div>
    </div>
</div>

<div class="contact-us container">
    <div class="row">
        <div class="contact-form span7">
            <p>
                Faça o cadastro da sua receita e não deixe de preencher a <a data-ng-click="scrollTo('fotodecapa')">Nota do Chef</a>
                e incluir uma <a data-ng-click="scrollTo('fotodecapa')">Foto de Capa</a>!
            </p>

            <form method="post">
                <label for="receita">Receita</label>
                <input id="receita" type="text" data-ng-model="receita.nome" name="receita" placeholder="Nome da receita" data-focus="true">

                <label for="resumo">Resumo</label>
                <input id="resumo" type="text" data-ng-model="receita.resumo" name="resumo" placeholder="Digite o resumo aqui..."></input>

                <label for="tags">TAGS</label>
                <div class="space-nicely">
                    <input id="tags" name="tags" data-ng-model="tags" autocomplete="off" type="text" data-provide="typeahead"
                           name="tags" placeholder="Tags separadas por vírgula (,) e sem espaço"
                           class="input-medium tm-input tm-input-warning"/>
                </div>

                <label for="ingredientes">Ingredientes</label>
                <textarea id="ingredientes" data-ng-model="receita.ingredientes" name="ingredientes" placeholder="Listar os ingredientes aqui..."></textarea>

                <label for="preparo">Modo de preparo</label>
                <textarea id="preparo" data-ng-model="receita.modoPreparo" name="preparo" placeholder="Descreva o modo de preparo aqui..."></textarea>

                <label for="obs">Observações</label>
                
                <textarea id="obs" data-ng-model="receita.observacoes" name="obs" placeholder="Observações aqui...">
                	{{receita.observacoes}}
                </textarea>

			
						<div class="call-to-action-text span12">
							<div class="ca-button span10">
								<a data-ng-click="cadastrarReceita()"
									href="#/receitas/visualizareceita"><i class="icon-plus"></i>
									Cadastrar</a>
							</div>
					
				</div>
			</form>
        </div>
        <div class="contact-address span5" id="fotodecapa">
            <h4>Foto de Capa</h4>
            <p>Dimensão: <b>725 x 348</b> pixels</p>
            <div class="fotocapa">
                <a href="#novaTagModal" data-toggle="modal">Clique aqui para incluir uma foto de capa</a>
            </div>
            <p>
                <label id="notadochef" for="nota">Nota do Chef</label>
                <input id="nota" data-ng-model="receita.notaChef" type="text" name="nota" class="span1">
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(".tm-input:eq(0)").tagsManager({
        prefilled: [""],
        typeahead: true,
        typeaheadAjaxSource: null,
        typeaheadSource: ["Bolo", "Chocolate", "Lasanha", "Bolinho", "Creme", "Sobremesa", "Sopa", "Caldo", "Pizza"],
        blinkBGColor_1: '#FFFF9C',
        blinkBGColor_2: '#CDE69C',
        hiddenTagListName: 'hiddenTagListA'
    });
</script>
